<section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url(https://g.foolcdn.com/image/?url=https%3A//g.foolcdn.com/editorial/images/439080/home-office_gettyimages-615403718.jpg&w=2000&op=resize);">
    <div class="container-fluid container-fluid-max">
        <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <h1 class="text-white">Compras y Ventas en época de cuarentena</h1>
        </div>
        </div>
    </div>
</section>

<section id="process" class="process">
    <div class="container-fluid container-fluid-max">
        <div class="row text-center py-5">
        <div class="col-12 pb-4">
            <h2 class="text-red">Sitio web de compras y ventas en adelantado</h2>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-search"></i>
                </span>
                <h3 class="mt-3 text-red h4">Encontrá</h3>
                <p>cosas que normalmente comprarias pero ahora no podes</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">.
                <span class="fa-stack fa-2x">
                        <i class="fa fa-shopping-cart"></i>
                    </span>
                    <h3 class="mt-3 text-red h4">Vende</h3>
                    <p>lo que no estas podiendo vender - ya sea un producto o servicio</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
                <span class="fa-stack fa-2x">
                        <i class="fa fa-child"></i>
                    </span>
                    <h3 class="mt-3 text-red h4">Ayudá</h3>
                    <p>a mantener locales abiertos mientras que dure la cuarentena</p>
        </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Por qué es necesario?</h1>
        <p class="lead">Hay muchos locales (como restaurantes, peluquerías, y más) que no pueden prestar sus servicios habituales mientras que dure la cuarentena.
            Esto implica unas grandes pérdidas económicas, tanto para los empleados que quizás no puedan recibir un sueldo, o para los dueños, que pueden considerar 
            despidos o hasta el cierre definitivo del local. Pero no hace falta llegar a esa instancia! Con un poco de ayuda entre todos, se puede salir para adelante!
        </p>
        <p class="lead">
                Enconces... ¿cómo funciona esta plataforma? Es simple. Imaginate que este mes te querías cortar el pelo y no podés. Si tu peluquería se encuentra
                inscripta en la página web, vos podés comprar un voucher por un corte de pelo, que vas a poder canjearlo una vez que se termina la cuarentena. De esta forma,
                ayudas al negocio a obtener ingresos ahora, y ya tenes asegurado tu corte de pelo para el futuro.
            </p>
        <hr class="my-4">
        <p>Crea tu usuario, registra tu local, y empeza a vender o comprar!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Vamos!</a>
    </div>
</section>